<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Online Store</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if categories %}
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="/category/{{ category.id }}">{{ category.category_name }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="text mr-sm-2">Welcome, {{ session['user'] }}</div>
        {% if session['role']=='ADMIN' %}
            <button class="btn btn-outline-primary m-2 my-sm-0" onclick="location.href ='/admin'">Admin page</button>
        {% endif %}
        <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href ='/logout'">Logout</button>
    </div>

</nav>
<div class="container p-5 " style="margin: 0 auto;width:90%">
    <!-- ERROR MESSAGES SECTION -->
    {% with errors = get_flashed_messages(category_filter=["errors"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}
    {% endwith %}

    <div class="card-columns">
        {% for item in goods %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.article_name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="/goods/{{ item.id }}" class="btn btn-outline-primary" style="width: 100%">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if items %}

        <table class="table table-striped">
            <thead>
            <tr>
                {% for key in items[0].keys() %}
                    <th scope="col">{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    {% for key in item.keys() %}
                        <td>{{ item[key] }}</td>
                    {% endfor %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-outline-primary" onclick="window.history.back()">Back</button>
    {% endif %}


</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>